.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #adadad20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0f0f0f;
  z-index: 99;
}
.nav .logo {
  width: 30px;
  height: 30px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-left: 10px;
  color: #eff5ff;
  font-weight: 600;
}
.logo p span {
  color: #7185ff;
}
.nav a {
  outline: none;
}
.nav a .fa-home {
  color: #eff5ff;
  margin-right: 40px;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin-top: 5px;
}
